@import "comman.css";

.main{
    min-height:calc(100vh - 24px);
    width:100%;
    padding:64px 192px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:32px;
    box-sizing:border-box;
}

.block1{
    width:calc(100% - 352px);
    display:flex;
    flex-direction:column;
}

.block2{
    width:320px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    box-sizing:border-box;
}

.insta-name-logo{
    height:58px;
    width:173px;
    background-image: var(--instaImageSprites1);
    background-position: -172px -52px;
    background-size: 596px 546px;
}

.tag-line{
    font-size:var(--fs3);
}

.gta{
    margin:32px 0px 16px;
    font-size:var(--fs-1);
}

.app-store-btns{
    display:flex;
    flex-direction:row;
    gap:16px;
}

.app-store-btns > button{
    user-select: none;
    outline:none;
    cursor:pointer;
    height:48px;
    border:none;
    background-color:var(--c_t);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

#google-play-btn{
    width:164px;
    background-image:var(--googlePlay);
}

#apple-store-btn{
    width:144px;
    background-image:var(--appleStore);
}

.log-in-form{
    width:100%;
}

.insta-logo{
    margin-bottom: 32px;
    height: 48px;
    width: 48px;
    background-image: var(--instaImageSprites1);
    background-repeat: no-repeat;
    background-position: -223px 0px;
    background-size: 570px 520px;
}

.input-block{
    margin-bottom:32px;
    height:34px;
    width:100%;
    box-sizing:border-box;

    position:relative;
}

.input-block > input{
    outline:none;
    height:100%;
    width:100%;
    padding:14px;
    font-size: var(--fs0);
    font-family: var(--ff0);
    border:none;
    border-bottom:1px solid var(--c_4);
    box-sizing:border-box;
}

.input-block > input::placeholder{ opacity:0; }

.input-block > input:focus{ border-bottom:1px solid var(--c_3); }

.input-block > label{
    user-select: none;
    cursor: text;
    font-size: var(--fs0);
    font-family: var(--ff0);
    line-height: 34px;
    opacity: 0.6;
    transition: all 350ms ease-in-out;
    position: absolute;
    top: 0;
    left: 14px;
}

.input-block > input:not(:placeholder-shown) + label{
    cursor:auto;
    font-size:var(--fs-2);
    line-height:var(--fs-2);
    opacity:1;
  
    top:-6px;
}

.input-block > input#pswd ~ a {
    outline: none;
    user-select: none;
    text-decoration: none;
    font-size: var(--fs-2);
    line-height: 20px;
    color: var(--c_3);

    position: absolute;
    top: 34px;
    right: 0;
}

.log-in-form > input[type=submit]{
    outline: none;
    user-select: none;
    cursor: pointer;
    height: 48px;
    width: 100%;
    font-family: var(--ff0);
    font-size: var(--fs0);
    color: var(--c_w);
    background-image: linear-gradient(45deg, var(--c_0), var(--c_1), var(--c_2));
    border-radius: 48px;
    border: none;
}

.log-in-form > input[type=submit]:disabled{
    opacity: 0.5;
    filter: grayscale(1);
}

.or-hr-line {
    user-select: none;
    margin: 32px 0px;
    background-color: var(--c_5);
    height: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.or-hr-line > span {
    padding: 0px 14px;
    font-size: var(--fs-1);
    background-color: var(--c_w);
    color: var(--c_4);
    position: absolute;
    top: -8px;
}

#liwfb {
    user-select: none;
    outline: none;
    cursor: pointer;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff0);
    font-size: var(--fs0);
    color: var(--c_3);
    background-color: var(--c_t);
    border-radius: 48px;
    border: 1px solid var(--c_3);
    box-sizing: border-box;
}

#liwfb > span:nth-child(1) {
    margin-right: 16px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-image: var(--instaImageSprites1);
    background-repeat: no-repeat;
    background-position: -265px -454px;
    background-size: 549px 501px;
}

.dhaa {
    user-select: none;
    margin-top: 32px;
    font-size: var(--fs-1);
    color: var(--c_4);
}

.dhaa > a {
    user-select: none;
    text-decoration: none;
    color: var(--c_3);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer > .x{
    width:100%;
    padding:16px 32px;
    background-color:var(--c_6);
    box-sizing:border-box;
}

.footer > .fromFb {
    height: 24px;
    width: 60px;
    background-image: var(--instaImageSprites1);
    background-repeat: no-repeat;
    background-position: -208px -188px;
    background-size: 366px 336px;
}

.footer-links{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:12px;
    flex-wrap: wrap;
}

.footer-links > li{ display:inline-block; }

.footer-links > li > a{
    user-select: none;
    text-decoration:none;
    font-size:var(--fs-2);
    color:var(--c_4);
}

.copyright-block{
    user-select: none;
    margin-top:16px;
    font-size:var(--fs-2);
    text-align:center;
    color:var(--c_4);
}

#error-block{
    height:100vh;
    width:100%;
    display:none;
    justify-content:center;
    align-items:center;
    background-color:hsl(0 0% 0% / 25%);

    position:fixed;
    top:0;
}

#error-block.isActive{ display:flex; }

#error-block > .error-box{
    width:240px;
    border-radius:16px;
    background-color:var(--c_w);
    overflow:hidden;
    box-sizing:border-box;
}

#error-block.isActive > .error-box{
    transform:scale(1);
}

.error-box > .msg-block{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding:32px 16px;
    border-bottom:1px solid var(--c_5);
    box-sizing:border-box;
}

.error-box > .msg-block > h6{
    margin:0;
    margin-bottom:16px;
    font-size:var(--fs1);
    font-family:var(--ff0);
}

.error-box > .msg-block > div{
    text-align:center;
}

.error-box > button{
    user-select: none;
    outline:none;
    cursor:pointer;
    width:100%;
    height:48px;
    border:none;
    background-color:var(--c_t);
    font-size:var(--fs0);
    font-family:var(--ff0);
    color:var(--c_3);
}

.error-box > button:active{
    background-color:var(--c_6);
}


@media screen and (min-width:320px) and (max-width:480px){


.main{
    padding:64px 32px;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
}

.block1{
    width:100%;
    align-items:center;
}

.tag-line{
    margin-top:8px;
    width:260px;
    text-align:center;
    font-size:var(--fs0);
}

.gta{
    display:none;
}

.app-store-btns{
    display:none;
}

.block2{
    margin-top:32px;
    width:100%;
    padding:0 6px;
}

.insta-logo{
    display:none;
}

.footer > .x{
    padding:16px 16px;
}


}